/* !google Fonts Add */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700;800&display=swap");
body {
	font-family: "Manrope", sans-serif;
}
.font-swas {
	font-family: "Berkshire Swash", cursive;
	font-weight: 400;
}
/* !font-wieght classes */
.font-400 {
	font-weight: 400;
}
.font-500 {
	font-weight: 500;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}
.font-800 {
	font-weight: 800;
}

/* !font-size classes */
.font-16 {
	font-size: 16px;
}
.font-20 {
	font-size: 20px;
}
.font-24 {
	font-size: 24px;
}
.font-76 {
	font-size: 76px;
}
/* !font-color classes */
.head-color {
	color: #ff5e19;
}

.dark-text {
	color: #b3b3b3;
}
/* !header-style starts  */
header {
	/* background-color: #000000; */
	background: url("../images/mbape-head.png"), #000000;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.container-fliud {
	background-image: url("../images/psg-head.png");
	background-repeat: no-repeat;
	background-position: right 27%;
}
.header-text {
	padding: 100px;
}
/* !header-style ends  */
/* !main-style starts  */

main {
	background: #151515;
	padding-top: 75px;
}
.card-bg {
	background: #0d0d0d;
}
/* !main-style ends  */
